/* General Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
/* body content */
body {
    font-family: 'Shantell Sans', cursive;
    font-size: 1.125rem;
    line-height: 1.6;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rampart One', cursive;
}

h1 {
    font-size: 3rem;
}

p:has(> a) {
    text-align: center;
}

/* Layout & Apperance */

header {
    height: 15vw;
    background-color: #FF8360;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
}

.main-wrapper {
    width: 80vw;
    margin: 0 auto;
    border: 2px solid #999;
    padding: 1em;
}

/* section */

main section>div+p {
    background-color: #3CDBD3;
    padding: 1em;
    justify-content: right;
}

main section:nth-of-type(2) p {
    background-color: #E8E288;
    padding: 1em;
}

main>section {
    gap: 1em;
    margin: 2em 0;
    display: flex;
}

/* footer */

footer p,
footer a {
    background-color: #7DCE82;
    color: #fff;
    padding: 2em;
    border: 2px solid #fff;
}

footer p {
    text-align: center;
    flex-grow: 3;
}

footer a {
    background-color: #FF8360;
}

footer a:hover {
    background-color: #9C528B;
}

footer {
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
}